<section class="block container">
    <header class="block__header">
        <h2>Host On The Cloud to Keep Growing</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, laborum.</p>
    </header>
<!-- 1 -->
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi, nihil recusandae similique tenetur asperiores ex accusantium quas numquam quam?</p>
            <a href="#" class="link-arrow">LEARN MORE</a>
        </div>
        <picture>
            <source type="image/webgp" srcset="Images/easy.webp 1x, Images/easy@2x.webp 2x">
            <source type="image/png" srcset="Images/easy.webp 1x, Images/easy@2x.png 2x">
            <img class="feature__image" src="Images/easy@2x.png" alt="">
        </picture>
    </article>
<!-- 2 -->
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">ُSimply fast websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi, nihil recusandae similique tenetur asperiores ex accusantium quas numquam quam?</p>
            <a href="#" class="link-arrow">LEARN MORE</a>
        </div>
        <picture>
            <source type="image/webgp" srcset="Images/fast.webp 1x, Images/fast@2x.webp 2x">
            <source type="image/png" srcset="Images/fast.webp 1x, Images/fast@2x.png 2x">
            <img class="feature__image" src="Images/fast@2x.png" alt="">
        </picture>
    </article>
<!-- 3 -->
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#settings"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi, nihil recusandae similique tenetur asperiores ex accusantium quas numquam quam?</p>
            <a href="#" class="link-arrow">LEARN MORE</a>
        </div>
        <picture>
            <source type="image/webgp" srcset="Images/WordPress.webp 1x, Images/WordPress@2x.webp 2x">
            <source type="image/png" srcset="Images/WordPress.webp 1x, Images/WordPress@2x.png 2x">
            <img class="feature__image" src="Images/WordPress@2x.png" alt="">
        </picture>
    </article>
<!-- 4 -->
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi, nihil recusandae similique tenetur asperiores ex accusantium quas numquam quam?</p>
            <a href="#" class="link-arrow">LEARN MORE</a>
        </div>
        <picture>
            <source type="image/webgp" srcset="Images/support.webp 1x, Images/support@2x.webp 2x">
            <source type="image/png" srcset="Images/support.webp 1x, Images/support@2x.png 2x">
            <img class="feature__image" src="Images/support@2x.png" alt="">
        </picture>
    </article>
</section>